{% extends 'base.html' %}

{% block content %}
    <div class="home-body">
        <div class="greeting-card">
            <h1 class="heading">FuelWise</h1>

            <h4>Current prices:</h4>
            <p> Petrol: R{{ petrol_price }}</p>
            <p> Diesel: R{{ diesel_price }}</p>
        </div>

        <div class="prompt-box">
            <input type="text" id="userInput" placeholder="Ask me a question">
            <button id="submit" onclick="send()">Send</button>
        </div>


    </div>

{% endblock %}